MDW/WSDLS/CBSInterface_PairService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" xmlns:pairservicemgr="http://www.huawei.com/bme/cbsinterface/pairservicemgr" xmlns:ns="http://www.huawei.com/bme/cbsinterface/pairservice" targetNamespace="http://www.huawei.com/bme/cbsinterface/pairservicemgr">
	<types>
		<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:pairservice="http://www.huawei.com/bme/cbsinterface/pairservice" targetNamespace="http://www.huawei.com/bme/cbsinterface/pairservicemgr">
			<import namespace="http://www.huawei.com/bme/cbsinterface/pairservice" schemaLocation="CBSInterface_PairService.xsd"/>
			<element name="ManPairNumberRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="common:RequestHeader"/>
						<xs:element name="ManPairNumberRequest" type="pairservice:ManPairNumberRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ManPairNumberResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="common:ResultHeader"/>
						<xs:element name="ManPairNumberResult" type="pairservice:ManPairNumberResult"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryPairNumberRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="common:RequestHeader"/>
						<xs:element name="QueryPairNumberRequest" type="pairservice:QueryPairNumberRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryPairNumberResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="common:ResultHeader"/>
						<xs:element name="QueryPairNumberResult" type="pairservice:QueryPairNumberResult"/>
					</xs:sequence>
				</xs:complexType>
			</element>
		</xs:schema>
	</types>
	<message name="ManPairNumberRequestMessage">
		<part name="ManPairNumberRequestMsg" element="pairservicemgr:ManPairNumberRequestMsg"/>
	</message>
	<message name="ManPairNumberResultMessage">
		<part name="ManPairNumberResultMsg" element="pairservicemgr:ManPairNumberResultMsg"/>
	</message>
	<message name="QueryPairNumberRequestMessage">
		<part name="QueryPairNumberRequestMsg" element="pairservicemgr:QueryPairNumberRequestMsg"/>
	</message>
	<message name="QueryPairNumberResultMessage">
		<part name="QueryPairNumberResultMsg" element="pairservicemgr:QueryPairNumberResultMsg"/>
	</message>
	<portType name="PairServiceMgr">
		<operation name="ManPairNumber">
			<input message="pairservicemgr:ManPairNumberRequestMessage"/>
			<output message="pairservicemgr:ManPairNumberResultMessage"/>
		</operation>
		<operation name="QueryPairNumber">
			<input message="pairservicemgr:QueryPairNumberRequestMessage"/>
			<output message="pairservicemgr:QueryPairNumberResultMessage"/>
		</operation>
	</portType>
	<binding name="PairServiceMgrBinding" type="pairservicemgr:PairServiceMgr">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ManPairNumber">
			<soap:operation soapAction="ManPairNumber" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="QueryPairNumber">
			<soap:operation soapAction="QueryPairNumber" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PairServiceMgrService">
		<port name="PairServiceMgrServicePort" binding="pairservicemgr:PairServiceMgrBinding">
			<soap:address location="http://www.huawei.com/bme/cbsinterface/pairservice/wsdl/CBSInterface_PairService.wsdl"/>
		</port>
	</service>
</definitions>
