MDW/WSDLS/CBSInterface_Content.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" xmlns:contentmgr="http://www.huawei.com/bme/cbsinterface/contentmgr" xmlns:content="http://www.huawei.com/bme/cbsinterface/content" targetNamespace="http://www.huawei.com/bme/cbsinterface/contentmgr">
	<types>
		<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:content="http://www.huawei.com/bme/cbsinterface/content" targetNamespace="http://www.huawei.com/bme/cbsinterface/contentmgr">
			<import namespace="http://www.huawei.com/bme/cbsinterface/content" schemaLocation="CBSInterface_Content.xsd"/>
			<element name="BlockServiceRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="common:RequestHeader"/>
						<xs:element name="BlockServiceRequest" type="content:BlockServiceRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BlockServiceResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="common:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
		</xs:schema>
	</types>
	<message name="BlockServiceRequestMessage">
		<part name="BlockServiceRequestMsg" element="contentmgr:BlockServiceRequestMsg"/>
	</message>
	<message name="BlockServiceResultMessage">
		<part name="BlockServiceResultMsg" element="contentmgr:BlockServiceResultMsg"/>
	</message>
	<portType name="Content">
		<operation name="BlockServiceMgr">
			<input message="contentmgr:BlockServiceRequestMessage"/>
			<output message="contentmgr:BlockServiceResultMessage"/>
		</operation>
	</portType>
	<binding name="ContentBinding" type="contentmgr:Content">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="BlockServiceMgr">
			<soap:operation soapAction="BlockService"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ContentMgrService">
		<port name="ContentMgrServicePort" binding="contentmgr:ContentBinding">
			<soap:address location="http://www.huawei.com/bme/cbsinterface/content/wsdl/CBSInterface_Content.wsdl"/>
		</port>
	</service>
</definitions>
