MDW/WSDLS/CBSInterface_Password.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" xmlns:passwordmgr="http://www.huawei.com/bme/cbsinterface/passwordmgr" xmlns:ns="http://www.huawei.com/bme/cbsinterface/password" targetNamespace="http://www.huawei.com/bme/cbsinterface/passwordmgr">
	<types>
		<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:password="http://www.huawei.com/bme/cbsinterface/password" targetNamespace="http://www.huawei.com/bme/cbsinterface/passwordmgr">
			<import namespace="http://www.huawei.com/bme/cbsinterface/password" schemaLocation="CBSInterface_Password.xsd"/>
			<element name="CheckPasswordRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="common:RequestHeader"/>
						<xs:element name="CheckPasswordRequest" type="password:CheckPasswordRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="CheckPasswordResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="common:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangePasswordRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="common:RequestHeader"/>
						<xs:element name="ChangePasswordRequest" type="password:ChangePasswordRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangePasswordResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="common:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ResetPasswordRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="common:RequestHeader"/>
						<xs:element name="ResetPasswordRequest" type="password:ResetPasswordRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ResetPasswordResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="common:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="CheckOperatorPasswordRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="common:RequestHeader"/>
						<xs:element name="ResetPasswordRequest" type="password:CheckOperatorPasswordRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="CheckOperatorPasswordResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="common:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
		</xs:schema>
	</types>
	<message name="CheckPasswordRequestMessage">
		<part name="CheckPasswordRequestMsg" element="passwordmgr:CheckPasswordRequestMsg"/>
	</message>
	<message name="CheckPasswordResultMessage">
		<part name="CheckPasswordResultMsg" element="passwordmgr:CheckPasswordResultMsg"/>
	</message>
	<message name="ChangePasswordRequestMessage">
		<part name="ChangePasswordRequestMsg" element="passwordmgr:ChangePasswordRequestMsg"/>
	</message>
	<message name="ChangePasswordResultMessage">
		<part name="ChangePasswordResultMsg" element="passwordmgr:ChangePasswordResultMsg"/>
	</message>
	<message name="ResetPasswordRequestMessage">
		<part name="ResetPasswordRequestMsg" element="passwordmgr:ResetPasswordRequestMsg"/>
	</message>
	<message name="ResetPasswordResultMessage">
		<part name="ResetPasswordResultMsg" element="passwordmgr:ResetPasswordResultMsg"/>
	</message>
	<message name="CheckOperatorPasswordRequestMessage">
		<part name="CheckOperatorPasswordRequestMsg" element="passwordmgr:CheckOperatorPasswordRequestMsg"/>
	</message>
	<message name="CheckOperatorPasswordResultMessage">
		<part name="CheckOperatorPasswordResultMsg" element="passwordmgr:CheckOperatorPasswordResultMsg"/>
	</message>
	<portType name="Password">
		<operation name="CheckPassword">
			<input message="passwordmgr:CheckPasswordRequestMessage"/>
			<output message="passwordmgr:CheckPasswordResultMessage"/>
		</operation>
		<operation name="ChangePassword">
			<input message="passwordmgr:ChangePasswordRequestMessage"/>
			<output message="passwordmgr:ChangePasswordResultMessage"/>
		</operation>
		<operation name="ResetPassword">
			<input message="passwordmgr:ResetPasswordRequestMessage"/>
			<output message="passwordmgr:ResetPasswordResultMessage"/>
		</operation>
		<operation name="CheckOperatorPassword">
			<input message="passwordmgr:CheckOperatorPasswordRequestMessage"/>
			<output message="passwordmgr:CheckOperatorPasswordResultMessage"/>
		</operation>
	</portType>
	<binding name="PasswordBinding" type="passwordmgr:Password">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CheckPassword">
			<soap:operation soapAction="CheckPassword" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangePassword">
			<soap:operation soapAction="ChangePassword" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ResetPassword">
			<soap:operation soapAction="ResetPassword" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CheckOperatorPassword">
			<soap:operation soapAction="CheckOperatorPassword" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PasswordMgrService">
		<port name="PasswordMgrServicePort" binding="passwordmgr:PasswordBinding">
			<soap:address location="http://www.huawei.com/bme/cbsinterface/password/wsdl/CBSInterface_Password.wsdl"/>
		</port>
	</service>
</definitions>
