MDW/WSDLS/CBSInterface_MasterSlaveMgrt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" xmlns:masterslavemgrtmgr="http://www.huawei.com/bme/cbsinterface/masterslavemgrtmgr" xmlns:ns="http://www.huawei.com/bme/cbsinterface/masterslavemgrt" targetNamespace="http://www.huawei.com/bme/cbsinterface/masterslavemgrtmgr">
	<types>
		<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:masterslavemgrt="http://www.huawei.com/bme/cbsinterface/masterslavemgrt" targetNamespace="http://www.huawei.com/bme/cbsinterface/masterslavemgrtmgr">
			<import namespace="http://www.huawei.com/bme/cbsinterface/masterslavemgrt" schemaLocation="CBSInterface_MasterSlaveMgrt.xsd"/>
			<element name="ManMasterSlaveRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="common:RequestHeader"/>
						<xs:element name="ManMasterSlaveNumRequest" type="masterslavemgrt:ManMasterSlaveRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ManMasterSlaveResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="common:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryMasterSlaveRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="common:RequestHeader"/>
						<xs:element name="QueryMasterSlaveRequest" type="masterslavemgrt:QueryMasterSlaveRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryMasterSlaveResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="common:ResultHeader"/>
						<xs:element name="QueryMasterSlaveResult" type="masterslavemgrt:QueryMasterSlaveResult"/>
					</xs:sequence>
				</xs:complexType>
			</element>
		</xs:schema>
	</types>
	<message name="ManMasterSlaveRequestMessage">
		<part name="ManMasterSlaveRequestMsg" element="masterslavemgrtmgr:ManMasterSlaveRequestMsg"/>
	</message>
	<message name="ManMasterSlaveResultMessage">
		<part name="ManMasterSlaveResultMsg" element="masterslavemgrtmgr:ManMasterSlaveResultMsg"/>
	</message>
	<message name="QueryMasterSlaveRequestMessage">
		<part name="QueryMasterSlaveRequestMsg" element="masterslavemgrtmgr:QueryMasterSlaveRequestMsg"/>
	</message>
	<message name="QueryMasterSlaveResultMessage">
		<part name="QueryMasterSlaveResultMsg" element="masterslavemgrtmgr:QueryMasterSlaveResultMsg"/>
	</message>
	<portType name="MasterSlavemgrtMgr">
		<operation name="manMasterSlave">
			<input message="masterslavemgrtmgr:ManMasterSlaveRequestMessage"/>
			<output message="masterslavemgrtmgr:ManMasterSlaveResultMessage"/>
		</operation>
		<operation name="queryMasterSlave">
			<input message="masterslavemgrtmgr:QueryMasterSlaveRequestMessage"/>
			<output message="masterslavemgrtmgr:QueryMasterSlaveResultMessage"/>
		</operation>
	</portType>
	<binding name="MasterSlavemgrtMgrBinding" type="masterslavemgrtmgr:MasterSlavemgrtMgr">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="manMasterSlave">
			<soap:operation soapAction="manMasterSlave" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="queryMasterSlave">
			<soap:operation soapAction="queryMasterSlave" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="MasterSlavemgrtMgrService">
		<port name="MasterSlavemgrtMgrServicePort" binding="masterslavemgrtmgr:MasterSlavemgrtMgrBinding">
			<soap:address location="http://www.huawei.com/bme/cbsinterface/masterslavemgrt/wsdl/CBSInterface_MasterSlaveMgrt.wsdl"/>
		</port>
	</service>
</definitions>
